
body {
    font-family: Arial, sans-serif;
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    @font-face {
      font-family: "Made Tommy";
      src: url(style.css/MADE TOMMY ExtraBold Outline_PERSONAL USE.otf);
    }
    

}


a {
  color: white;
  text-decoration: none;
}

li a:hover {
  color: #f8cd0e;
  transition: .25s ease-in-out;
  background: #573a166d;
}

li a:active {
  color: #f8cd0e;
  transition: .25s ease-in-out;
  background: #573a166d;
}



.container {
    height: 100vh;
    width: 100vw;
    background: url("https://cdn.cloudflare.steamstatic.com/steam/apps/1172710/ss_94a0b052f1badf1850de376e1d621ea2a247bbba.1920x1080.jpg?t=1713880417"); 
    position: relative;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.container::before { 
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #292421f7;
}

#nav{
  
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  z-index: 5;
}


.textbox {
  z-index: 5;
    width: 50vw;
    height: 100vh;
    display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  text-align: center;
}

.title {
  padding-bottom: 3rem;
}

.title > .intro {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: bold;
  font-size: 2rem;
  text-align: center;
}

.title > .CHOAM {
  letter-spacing: .5rem;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #e6930e;
    font-style: bold;
    font-size: 5rem;
}

.links {
  padding: 0 1rem;
  background: rgba(121, 121, 131, 0.061);
  border-radius: 1rem;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  padding: 0;
  list-style: none;
  gap: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li a{
  padding: .5rem;
  border-radius: .5rem;
}
